html
    head
        title leads
        link(rel='stylesheet', href='./css/bootstrap.min.css', type='text/css')
        script(src="./js/bootstrap.bundle.min.js")
    body
    dev(class="container")
        <h3 class= "text-center">leads details</h1>
        table(class='table table-striped')
            thead
                tr
                    th Created_on
                    th Name
                    th Email
                    th Company
                    th Subject
                    th Message
                    th Ipaddress
                    th UserInfo
                    th Country_code
            each item in items
                tr
                    td=item.Created_on
                    td=item.Name
                    td=item.Email
                    td=item.Company
                    td=item.Subject
                    td=item.Message
                    th Ipaddress
                    td=item.UserInfo
                    td=item.Country_code